body {
  margin: 0;
  font-family: serif;
}

h1, h2 {
  font-family: cursive;
}

main {
  margin: 2em;
}

main p {
  text-align: justify;
}

.intro {
  font-weight: bold;
}

#about {
  float: right;
  box-sizing: border-box;
  width: 20em;
  max-width: calc(100% - 2em);
  margin: 0 1em .5em;
  padding: 0 1em;
  border: 1px solid #f329d8;
  background-color: rgb(242, 211, 248);
}

#about img {
  width: 100%;
}

#about ul {
  padding-left: 2ch;
}

#about li::marker {
  content: "∗ ";
  color:#f329d8;
}

footer {
  clear: both;
  box-sizing: border-box;
  width: 100%;
  bottom: 0;
  padding: 1em 2em;
  background-color: dimgray;
  color: white;
}

footer :link {
  color: aquamarine;
}